.cards__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding-left: 7%;
  padding-right: 7%;
}

@media (max-width: 768px) {
  .cards__container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
}

@media (max-width: 550px) {
  .cards__container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 2vw;
  }
}