.header__list {
  display: flex;
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: none;
}

.header__list_active {
  display: flex;
}

@media (max-width: 500px) {
  .header__list {
    display: none;
  }
}