.footer__list-social {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .footer__list-social {
    width: 86%
  }
}

@media (max-width: 475px) {
  .footer__list-social {
    justify-content: space-around;

  }
}