.title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
}

.header__title{
  font-size: 60px;
  line-height: 64px;
  color: white;
  width: 42%;
  margin-top: 88px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}