.title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
}

.header__title{
  font-size: 3.75rem;
  line-height: 1;
  color: white;
  width: 42%;
  margin-top: 88px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.header__title_articles {
  font-size: 2.5rem;
  line-height: 1;
  color: #1A1B22;
  margin-left: 7%;
  margin-top: 2%;
  width: 30%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__title {
    font-size: 2.25rem;
    line-height: 1;
    margin-left: 21%;
  }
}