.title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
}

.header__title{
  font-size: 60px;
  line-height: 64px;
  color: white;
  width: 42%;
  margin-top: 88px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.header__title_articles {
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-left: 7%;
  margin-top: 2%;
  width: 30%;
}