@import url('./__title/cards__title.css');
@import url('./__container/cards__container.css');

.cards {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: none;
  padding-bottom: 30px;
}

.cards__articles {
  display: block;
  margin-top: 4%;
  margin-bottom: 4%;
}

.cards__active {
  display: block !important;
}