@import url('./__copyright/footer__copyright.css');
@import url('./__container/footer__container.css');
@import url('./__list/footer__list.css');
@import url('./__list-social/footer__list-social.css');
@import url('link.css');
@import url('./__nav/footer__nav.css');
@import url('./__social/footer__social.css');

.footer {
  width: 100%;
  max-width: 1440px;
  min-height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 670px) {
  .footer {
    flex-direction: column-reverse;
  }
}