.card__image {
  background-size: cover;
  background-position: center;
  height: 272px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: flex-end;
}

.card__image-articles {
  background-size: cover;
  background-position: center;
  height: 272px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  justify-content: space-between;

}

@media (min-width: 768px) and (max-width: 1024px) {
  .card__image {
    height: 150px;
  }
}

@media (min-width: 550px) and (max-width: 600px) {
  .card__image {
    height: 150px;
  }
}