.popup__content_menu {
    width: 100%;
    min-height: 320px;
    background-color: #1A1B22;;
    padding: 0;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
}