.header__search{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  border-radius: 100px;
  border: none;
  position: inherit;
  margin-left: 143px;
  width: 40%;
  min-height: 64px;
  padding-left: 24px;
  margin-bottom: 16px;
}

.header__search:focus {
  outline: none !important;
}

.header__search, textarea {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin-bottom: 48px;
}

@media (min-width: 1440px) and (max-width: 120000px) {
  .header__search {
    width: 608px;
  }
}

@media (max-width: 1024px) {
  .header__search {
    width: 56%;
    right: 23%;
    min-height: 56px;
  }
}
@media (max-width: 697px) {
  .header__search {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 424px) {
  .header__search {
    width: 85%;
  }
}