@import url('../header/__menu/header__menu.css');
@import url('../header/__logo/header__logo.css');
@import url('../header/__list/header__list.css');
@import url('../header/__button-mine/heder__button-mine.css');
@import url('../header/__button-autorisation/header__button-autorisation.css');
@import url('../header/__container/header__container.css');
@import url('../header/__title/header__title.css');
@import url('../header/__subtitle/header__subtitle.css');
@import url('../header/__search/header__search.css');
@import url('../header/__button-search/header__button-search.css');
@import url('../header/__container_search/header__container_search.css');

.header{
  background-image: url('../../images/header-image.jpg');
  min-height: 576px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}