.card__auth-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  background-color: white;
  width: 182px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  display: none;
}

.card__auth-title_active {
  display: flex !important;
}