@import url('./__content/popup__content.css');
@import url('./__title/popup__title.css');
@import url('./__close/popup__close.css');
@import url('./__input/popup__input.css');
@import url('./__input/popup__input_title.css');
@import url('./__button/popup__button.css');
@import url('./__or/popup__or.css');
@import url('./__is-opened/popup__is-opened.css');
@import url('./error-massage/error-massage.css');
@import url('./__access-link/popup__access-link.css');
@import url('./__content_access/popup__content_access.css');
@import url('./__content_menu/popup__content_menu.css');
@import url('./__menu/popup__menu.css');
@import url('./__button-mine/popup__button-mine.css');
@import url('./__button-savenews/popup__button-savenews.css');
@import url('./__button-autorisation/popup__button-autorisation.css');
@import url('./__content_article/popup__content_article.css');
@import url('./__menu_article/popup__menu_article.css');
@import url('./__or/_link/popup__or_link.css');
@import url('./__server-error/popup__server-error.css');

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@media (max-width: 500px) {
  .popup {
    margin-top: 66px;
  }
}